{% extends 'layouts/a.html' %}

{% block content %}
{% load static %}
     

<!-- Product section  -->
<div class=" py-10 flex justify-center gap-5 border-b-2">
    <div class="flex gap-4">
        <div class="flex flex-col gap-3">
            {% for image in product_images %}
            <a href="#"><img class="w-20 h-20 rounded-md object-cover hover:ring-2 hover:ring-red-500" src="{{image.image.url}}" alt=""></a>
            {% endfor %}
        </div>
        <div>
            <img class="w-96 rounded-lg shadow-md" src="{{ product.first_image.image.url}}" alt="Main Product">
        </div>
    </div>
    
    <div class="flex flex-col justify-around">
        <div class="flex flex-col gap-6 max-w-lg">
            <span class="text-gray-600 text-sm">@Munnas</span>
            <h2 class="text-3xl font-semibold">{{product.name}}</h2>
            <p class="text-lg text-gray-700"><span class="text-2xl font-semibold">&#8377; {{product.discount_price}} </span>
                <span class="text-green-500 font-semibold"> {{product.discount}}% off</span>
                <span class="text-gray-400 line-through font-semibold">&#8377; {{product.price}}</span>
            </p>
            <div>
                <p class="text-lg">Size:</p>
                <ul class="flex gap-2 py-2">
                    {% for size in product_size %}
                    <li><a class="px-3 py-1 border rounded hover:bg-gray-200" href="#">{{size}}</a></li>
                    {% endfor %}
                    
                </ul>
            </div>
            
            <div>
                <h3 class="font-semibold">Product Details:</h3>
                <p>{{product.description}}
                    <a class="text-blue-500" href="#">see more</a>
                </p>
            </div>
        </div>

        <div class="w-full flex items-center justify-between px-10">
            <button class="w-[50%] py-2 border-2 rounded-l-md  border-blue-500 hover:bg-gray-50">
                <a href="{% url 'add_to_cart' product.id %}">Add to cart</a>
            </button>
            <button class="w-[50%] bg-orange-500 rounded-r-md py-2 text-lg font-semibold hover:bg-orange-600">Buy now</button>
        </div>
    </div>
    
</div>

<!-- Similar Products  -->
<div class="px-32 py-10 pt-16">
    <div class="">
        <h2 class="noto-serif text-md text-start pl-10 py-10">Similar Products</h2>
        <div class="grid grid-cols-4 gap-5 ">
            <div>
                <a href="">
                    <img class="h-[400px]" src="images/menswear_cat.jpg" alt="">
                    <span class="text-gray-600 text-sm">@Munnas</span>
                    <p class="font-semibold text-start py-1">Men Slim Fit Solid...</p>
                    <p>Rs. <span> 999.99 </span><span class="text-green-600 font-semibold"> 50% off</span></p>
                </a>
            </div>
        </div>
    </div>

</div>

{% endblock %}