 <!-- Category-section  -->
 {% load static %}
 
 <div class="px-32 py-10 pt-16">
    <div class="">
        <h2 class="noto-serif text-md text-center py-10">Explore Categories</h2>
        <div class="grid grid-cols-4 gap-5 ">
            {% for category in categories %}
            {% if category.category_image %}
            <div class="">
                <a href="{% url 'category_view' category.id %}">
                    <img class="h-[400px]" src="{{ category.category_image}}" alt="">
                    <p class="font-semibold text-center py-1">{{category.name}}</p>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

</div>