{% load static %}

<div class="relative h-[600px] overflow-hidden my-5 mx-10">
    <div id="carousel" class="absolute inset-0 flex transition-transform duration-700">
      <div class="w-full flex-shrink-0 bg-[url({% static 'images/hero-image3.jpg' %})] bg-cover bg-center h-full">
        <div class="bg-black bg-opacity-50 h-full flex items-center justify-center">
          <h1 class="text-white font2">Discover the magic of looks</h1>
        </div>
      </div>
      <div class="w-full flex-shrink-0 bg-[url({% static 'images/hero-image2.jpg' %})] bg-cover bg-center h-full">
        <div class="bg-black bg-opacity-50 h-full flex items-center justify-center">
          <h1 class="text-white font2">Discover Your Style</h1>
        </div>
      </div>
      <div class="w-full flex-shrink-0 bg-[url({% static 'images/hero_image1.jpg' %})] bg-cover bg-center h-full">
        <div class="bg-black bg-opacity-50 h-full flex items-center justify-center">
          <h1 class="text-white font2">Shop the Latest Trends</h1>
        </div>
      </div>
    </div>
</div>